.invisible {
    visibility: hidden;
    display:none;
}
.visible {
    visibility: visible;
}
.search-page-buttons {
    text-align: center;
}
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}